<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="APP_NAME" value="b2b" />
    <property name="LOKI_HOST" value="${LOKI_HOST:-localhost}" />
    <property name="LOG_LEVEL" value="${LOG_LEVEL:-INFO}" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg traceId=%X{traceId} spanId=%X{spanId}%n</pattern>
        </encoder>
    </appender>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>http://${LOKI_HOST}:3100/loki/api/v1/push</url>
        </http>
        <format>
            <label>
                <pattern>app=${APP_NAME},host=${HOSTNAME},namespace=dev,level=%level</pattern>
                <readMarkers>true</readMarkers>
            </label>
            <message>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg traceId=%X{traceId} spanId=%X{spanId}%n</pattern>
            </message>
        </format>
    </appender>

    <!-- Root logger configuration -->
    <root level="${LOG_LEVEL}">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="LOKI"/>
    </root>
</configuration>
