services:
  db:
    image: postgres:16.4-alpine3.20
    # set shared memory limit when using docker-compose
    shm_size: 128mb
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_TABLE_NAME}
    volumes:
      - b2b_db_data:/var/lib/postgresql/data
      - ./icons:/icons
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}" ]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 5s
    networks:
      - b2b-network
      - logging
    restart: always

  backend:
    build:
      context: ..
      dockerfile: Deploy/Dockerfile
    image: ludogoriesoft/b2b-backend
    ports:
      - "8082:8082"
    depends_on:
      db:
        condition: service_healthy
      minio:
        condition: service_healthy
      notifications:
        condition: service_started
    environment:
      POSTGRES_HOST: db
      DB_TABLE_NAME: ${DB_TABLE_NAME}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      JWT_SECRET_KEY: ${JWT_SECRET_KEY}
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
      STORAGE_HOST: ${STORAGE_HOST} # This needs to be visible from the clients too, so that they can view the images
      STORAGE_USER: ${STORAGE_USER}
      STORAGE_PASSWORD: ${STORAGE_PASSWORD}
      STORAGE_BUCKET_NAME: ${STORAGE_BUCKET_NAME}
      FRONTEND_HOST: ${FRONTEND_HOST} # This is a string that is used to redirect users to the frontend.
      EMAIL_SERVICE_URL: http://notifications:8085/api/email/send
      SPRING_ACTIVE_PROFILE: ${SPRING_ACTIVE_PROFILE}
      CRON_EVERY_MONDAY_AT_9: ${CRON_EVERY_MONDAY_AT_9}
      CRON_TUESDAY_TO_FRIDAY_AT_9: ${CRON_TUESDAY_TO_FRIDAY_AT_9}
      CRON_COMPANIES_NO_SKILLS_AND_NO_CUSTOM_FILTERS: ${CRON_COMPANIES_NO_SKILLS_AND_NO_CUSTOM_FILTERS}
      CRON_PROCESS_EXPIRING_PROJECTS: ${CRON_PROCESS_EXPIRING_PROJECTS}
      DOMAIN_NAME: ${DOMAIN_NAME} # Used for logout. Example value: .algorithmity.com
      ZIPKIN_ENABLED: "false"
      LOKI_ENABLED: "false"
      CORS_ALLOWED_ORIGINS: ${CORS_ALLOWED_ORIGINS}
      PASSWORD_RECOVERY_URL: ${FRONTEND_HOST}/?action=forgottenPassword&token=
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8082/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 10
    networks:
      - b2b-network
      - logging
    restart: unless-stopped

  minio:
    image: minio/minio:RELEASE.2025-07-23T15-54-02Z
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: ${STORAGE_USER:-minioadmin}
      MINIO_ROOT_PASSWORD: ${STORAGE_PASSWORD:-minioadmin}
    volumes:
      - b2b_minio_data:/data   # <- official image uses /data
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/ready" ]
      interval: 10s
      timeout: 5s
      retries: 12
      start_period: 60s
    networks:
      - b2b-network
      - logging
    restart: always

  mc:
    image: minio/mc:RELEASE.2025-08-13T08-35-41Z
    depends_on:
      minio:
        condition: service_healthy
    environment:
      MINIO_SERVER_HOST: minio
      MINIO_SERVER_ACCESS_KEY: ${STORAGE_USER:-minioadmin}
      MINIO_SERVER_SECRET_KEY: ${STORAGE_PASSWORD:-minioadmin}
    entrypoint: >
      /bin/sh -c "
      sleep 10;
      mc alias set myminio http://$${MINIO_SERVER_HOST}:9000 $${MINIO_SERVER_ACCESS_KEY} $${MINIO_SERVER_SECRET_KEY};
      mc mb -p myminio/company-assets || true;
      mc anonymous set download myminio/company-assets;
      "
    networks:
      - b2b-network

  notifications:
    image: ludogoriesoft/b2b-notifications:v1.2
    environment:
      SPRING_MAIL_PASSWORD: ${SPRING_MAIL_PASSWORD}
      SPRING_MAIL_USERNAME: ${SPRING_MAIL_USERNAME}
      SPRING_ACTIVE_PROFILE: ${SPRING_ACTIVE_PROFILE}
    networks:
      - b2b-network
    restart: always



networks:
  b2b-network:
    driver: bridge
  logging:
    driver: bridge
volumes:
  b2b_minio_data:
  b2b_db_data:
